[submodule "powerline_bash"]
	path = powerline_bash
	url = git://github.com/milkbikis/powerline-bash.git
[submodule "ubuntu_mono_powerline"]
	path = ubuntu_mono_powerline
	url = git://github.com/scotu/ubuntu-mono-powerline.git
