"*":
  core:
    disabledPackages: [
      "autocomplete-python"
    ]
    ignoredNames: [
      "*.pyc"
      ".git"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
  "exception-reporting":
    userId: "ae830271-2291-80fa-d0ee-fdbf7b8ca3f7"
  "go-imports": {}
  "go-plus":
    goPath: "~/swdevl/gocode"
  linter:
    showErrorPanel: false
  "linter-pep8":
    maxLineLength: 100
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
