packages: [
  "atom-django"
  "atom-monokai-dark"
  "autocomplete-python"
  "django-templates"
  "editor-stats"
  "flatland-dark-ui"
  "go-imports"
  "go-plus"
  "language-chef"
  "linter"
  "linter-pep8"
  "markdown-pdf"
  "markdown-themeable-pdf"
  "package-sync"
  "sort-lines"
  "toggle-quotes"
  "travis-ci-status"
]
